.img{
    height: 50px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.profile{
 font-size: 23px;
 margin-left: 10px
}

.profile-container{
    display: flex;
    align-items: center;
}